@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

body {
 font-family: 'Roboto Condensed'; 
}
.navbar-brand {
  font-size: 26px;
}
.navbar-brand .logo {
  height: 40px;
  margin-top: -7px;
}
.bg-semi-transparent {
  background:rgba(0, 0, 0, .05);
}
.bg-lighter {
  background: #f2f2f2;
}
.modal-xl {
  width: auto;
  max-width: 960px !important;
}
.modal-body {
  overflow-y: auto;
  max-height: 400px;
  min-height: 300px;
}
.upload-preview img {
  max-width: 80%;
  margin:10px 0;
}
.img-thumb {
  width: 44px;
  border-radius: 50%;
}
.img-person {
	width: 30px;
	height: 30px;
	border-radius: 50%;
  }
  .img-round {
	  border-radius: 50%;
	}
.hide {
  display: none;
}

.btn.btn-flat {
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: normal;
}

.w-15 {
  width: 15%;
}
.w-35 {
  width: 35%;
}
.text-150 {
  font-size: 120%;
}

/* multiple select in form */
.item-row .select2 {
  width: 100% !important;
}
.multiple-select {
  width: 100% !important;
  border: 0;
  margin: 0;
}

/* dragging */


.dd-handle {
  color: #333;
  font-weight: normal;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  width: 50px;
}
.dd-edit {
  position: absolute;
  top: 5px;
  bottom: 5px;
  right: 5px;
  width: 90px;
  font-size: 24px;
  text-align: right;
}
.dd-edit .btn {
  padding: 0 7px;
  font-size: 20px;
}
.dd {
  max-width: 800px;
}
.dd-handle i {
  color: #222;
  font-size: 30px;
}
.dd-item {
  position: relative;
  border: 1px solid #eee;
  margin: 5px 0;
  margin-right: 10px;
}
.dd-item small {
  color: #aaa;
}
.dd-display {
  padding: 10px 60px;
  font-size: 16px;
}
.dd-display.disabled span {
  text-decoration: line-through;
}
.p-10 {
  padding: 10px;
}

.dataTables_length .select2 {
  margin: 0 8px !important;
}
.dataTables_filter {
  padding-top: 15px;
}
.inline {
  display: inline !important;
}


/* map */

.google-map-holder {
	position: relative;
}
.google-map {
	width: 100%;
	height: 500px;
	background: #ccc;
	border: 1px solid #ddd;
}

/* map overview */

.overview {
	list-style: none;
	position: absolute;
	max-width: 300px;
	right: 2px;
	top: 2px;
	display: none;
	background: #fefefe;
	border: 1px solid #bbb;
	border-top: 0;
	border-right: 0;
	margin: 0;
	padding: 20px;
	color: #888;
	font-size: 12px;
	background-repeat: no-repeat;
	background-position: right 20px;
	box-shadow: -4px 4px 6px #666;
}
.overview li {
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
}
.overview b {
	display: block;
	font-size: 16px;
	font-weight: 800;
	color: #000;
}
.overview b.medium {
	text-transform: uppercase;
	font-size: 120%;
}
b em {
	font-size: 50%;
	font-weight: normal;
	font-style: normal;
}
.overview .red {
	color: #ef756a;
}
.overview .amber {
	color: #fdd747;
}
.overview .green {
	color: #64b64d;
}
.overview .footnote {
	text-transform: uppercase;
	font-size: 80%;
	color: #000;
	line-height: 80%;
}
.overview .pink {
	color: #ff02cc;
}
.overview .blue {
	color: #025bff;
}


.details {
	position: relative;
}
.details .loading {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, .8);
	z-index: 2;
	text-align: center;
}
.details .loading span {
	display: inline-block;
	margin-top: 100px;
	padding: 40px;
	border: 1px solid #000;
	background: #fff;
}
.details ol {
	margin: 0;
	padding: 0;
	list-style-position: inside;
}
.details ol li {
	margin: 0;
	padding: 5px;
}
.details ol li { background: #f3f3f3; }
.details ol li:nth-child(odd) { background: #fff; }

.details ol span {
	display: block;
	float: right;
	text-align: right;
}

.details ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.details ul li {
	margin: 0 0 5px 0;
	padding: 10px;
	border-left: 3px solid #ccc;
	color: #2D76C3;
	text-transform: uppercase;
	font-size: .85em;
	font-weight: bold;
}
.details b {
	display: inline-block;
	font-size: 16px;
	font-weight: 800;
	color: #000;
	text-transform: none;
}
.details h2 b {
	font-size: 18px;
}
.marker-label {
	display: inline-block;
	margin-right: 20px;
}
.marker-legend {
	border-radius: 50%;
	margin-right: 5px;
	display: inline-block;
	width: 12px;
	height: 12px;
	border:1px solid #000;
}

.input-group-filter .input-group-prepend {
  width: 30%;
}
.input-group-filter .input-group-text {
  width: 100%;
}
.input-group-filter .select2-container {
  width:70% !important;
}

/* status */
.status .alert {
  margin-bottom: 0;
}

.img-icon {
	max-width: 30px;
	max-height: 30px;
	margin-right: 10px;
	display: inline-block;
}


.media-item {
	border-radius: 5px;
	margin-top: 10px;
	background: #eee;
	padding: 5px 10px;
}
.nowrap {
  display: inline-block;
  white-space: nowrap;
}

.sidebar .nav > li.nav-header {
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
  font-weight: normal;
}
.sidebar .nav > li > a > i.image {
  background: none;
  line-height: 0;
  padding: 0;
  border-radius: 50%;
}
.sidebar .nav > li > a > i.image img {
  width: 32px;
  height: 32px;
}

tr.enabled-0 td {
  text-decoration: line-through;
}
.dt-buttons.btn-group {
  margin-top: 0 !important;
}
.panel > .dataTables_wrapper div.dataTables_length label, .dataTables_filter {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.btn, form .alert {
  font-weight: normal !important;
}

.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }

.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.ui-datepicker-year{
  display:none;
}
.table-nass th {
  font-weight: normal;
  color: #666;
  padding-right: 5px;
}

.analytics-filters ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.analytics-filters ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.analytics-filters li a {
  clear: both;
  font-weight: 400;
  color: #333;
  padding: 3px 20px;
  line-height: 1.42857143;
  display: block;
  white-space: nowrap;
  text-decoration: none;
}
.analytics-filters li > a:focus, .analytics-filters li > a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.analytics-filters li.selected a {
  color: #bbb;
  font-style: italic;
  cursor: default;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number], .transfer-qty {
  -moz-appearance: textfield;
}

.order-qty, .order-price {
  min-width: 80px !important;
}

/* ***************** */

.suggestions-holder {
	width: 300%;
	position: relative;
	padding: 10px;
	z-index: 1;
	display: none;
}
.suggestions {
	margin-top: 5px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border: 3px solid #099ad1;
	background: #fff;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.suggestions ul {
  margin: 0;
  padding: 0;
}
.suggestions li {
	display: block;
}
.suggestions li a {
	display: block;
	text-decoration: none;
	padding: 5px 20px;
	background: url('../img/arrow_3.png') no-repeat 10px 12px #fff;
}
.suggestions li a em {
	font-style: normal;
	background: #ffff00;
}
.suggestions li a:hover {
	background-color: #f2f2f2;
}
.suggestions li small {
	display: block;
	color: #aaa;
}
.suggestions li small span {
	color: #000;
}
.suggestions li.no-results {
	color: darksalmon;
	padding: 10px;
}
.dropdown-notification {
	max-height: 480px;
	overflow-y: scroll;
}