.pdf {
    border:2px solid #ddd;
    padding: 10px;
}

.pdf h1 {
    font-size:26pt;
    margin: 20pt 0 0 0;
    text-align: right;
    color: #c0300f;
    text-transform: uppercase;
    padding: 0;
}
.pdf h2 {
    font-size:18pt;
    margin: 20pt 0 0 0;
    text-align: right;
    color: #c0300f;
    text-transform: uppercase;
    padding: 0;
}

.pdf .content {
    margin: 20pt 40pt;
}
.pdf .border-2 {
    border:3pt solid #003997;
    padding: 12pt;
}
.pdf table.full {
    width: 100%;
    border-spacing: 0;
}
.pdf table th {
    padding: 3pt 8pt;
}
.pdf table td {
    padding: 3pt 8pt;
    vertical-align: top;
    margin: 0;
}
.pdf table.sm td {
    padding: 0pt;
}
.pdf table.bordered {
    border-spacing: 0;
    border: 1px solid #000;
}
.pdf table.bordered td {
    padding: 2pt 10pt;
    border: 1px solid #000;
}
.pdf table.sm-right td {
    padding: 0;
}
.pdf .b-1 td {
    border-bottom: 1px dotted #000;
}
.pdf .b-2 th {
    border-bottom: 2px solid #444;
}
.pdf .b-3 th {
    background: #ddd;
    border-top: 2px solid #000;
    border-bottom: 4px solid #000;
}
.pdf .b-4 td {
    border-bottom: 4px solid #000;
}
.pdf .b-5 th {
    background: #333;
    color: #fff;
    border-bottom: 8px solid #888;
}
.pdf .text-center {
    text-align: center;
}
.pdf .text-right {
    text-align: right;
}
.pdf .text-left {
    text-align: left;
}
.pdf table th.pl-1 {
    padding-left: 10pt;
    text-align: left;
}
.pdf table th.pl-2 {
    padding-left: 20pt;
    text-align: left;
}
.pdf table td.pl-1 {
    padding-left: 10pt;
    text-align: left;
}
.pdf table td.pl-3 {
    padding-left: 30pt;
    text-align: left;
}
.pdf table td.pr-2 {
    padding-right: 10pt;
}
.pdf .header {
    padding: 12pt 40pt;
    margin-bottom: 10pt;
    border-bottom:5px solid #ef4923;
}
.pdf .title {
    padding: 10pt 0;
    margin-bottom: 10pt;
    border-bottom:2px solid #000;
}
.pdf .vendor {
    padding-left: 50pt;
    margin-bottom: 10pt;
}
.pdf .footer {
    border-top: 1px solid #ccc;
    padding: 10pt 40pt;
    font-size: 10pt;
    color: #333;
    margin: 30pt 0 0 0;
  }
  .pdf .footer b {
      border-bottom: 1pt solid #000;
  }
  .pdf .comments {
      margin-top: 30pt;
      border: 1px solid #ccc;
  }
  .pdf .comments h3 {
      font-size: 11pt;
      font-weight: bold;
      text-align: left;
      border-bottom: 1px solid #ccc;
      padding: 10pt;
      margin: 0;
  }
  .pdf .comments p {
      padding: 10pt;
      margin: 0;
  }
  